body {
    background-color: #FFF;
    font-family: courier;
    font-size: 20px;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: auto;
}

.header {
    position: relative;
    width: 100%;
}

.top {
    background: transparent url('images/top.png') no-repeat;
    width: 796px;
    height: 335px;
    float: left;
    position: absolute;
}
    .top h1 {
        float: left;
        position: absolute;
        width: 400px;
        height: 100px;
        top: -30px;
        left: 45%;
        padding: 20px 30px;
        background: transparent url('images/top-header.png') no-repeat;
    }

.navbar {
    float: right;
    position: absolute;
    top: 140px;
    right: 7%;
    height: 50px;
    padding: 10px;

    background: transparent;
    z-index: 2;
}
    .navbar ul {
        list-style: none;
        display: inline;
    }
    .navbar li {
        display: inline;
        position: relative;
        margin: 5px;
    }
        .navbar li:nth-child(4n+1) a {
            background: transparent url('images/red.png');
            color: #222;
        }
        .navbar li:nth-child(4n+2) a {
            background: transparent url('images/blue.png');
            color: #E1EEFF;
        }
        .navbar li:nth-child(4n+3) a {
            background: transparent url('images/indigo.png');
            color: #F75C4C;
        }
        .navbar li:nth-child(4n+4) a {
            background: transparent url('images/orange.png');
            color: #800;
        }

        .navbar a {
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
        }
        .navbar a:hover,
        .navbar a:active {
            font-weight: bold;
            color: #222;
        }

.content-wrapper {
    color: #009;
    float: left;
    position: relative;
    top: 175px;
    padding-bottom: 3em;
}
    .player {
        float: right;
        position: relative;
        top: 50px;
        width: 150px;
        height: 300px;
        margin: 0 0 50px 25px;
    }
    article {
        width: 100%;
        position: static;
        float: none;
        padding-bottom: 10em;
        margin-bottom: -1.5em;
        background: transparent url('images/thought.png') no-repeat bottom right;
    }
    article:last-child {
        background: none;
        padding-bottom: 5em;
    }
        article h1 {
            position: relative;
            top: 0;
            left: 2em;
            padding: 0.5em;
            background: transparent url('images/orange.png');
            width: 520px;
        }
